
@if (emprendedor) {
    <div id="{{emprendedor.QueOfrezco}}">
    @for (item of emprendedor.MisProductos; track item.id) {
        @if(item.id%2 == 0){    
            <div class="header-content" style="background-color: #FAFAFA;">
                <div class="container">
                    <div class="column-2 image">
                        <img [src]="item.imagenProducto" class="img-element" alt="" />
                    </div>
                    <div class="column-1">
                        <h1 class="header-title">{{item.nombreProducto}}</h1>
                        <h3>{{item.precioProducto}}</h3>
                        <p class="text">
                            {{item.descripcionProducto}}
                        </p>
                    </div>
                </div>
            </div>
        }
        @else {
            <div class="header-content" style="background-color: #E6F4F5;">
                <div class="container">
                    <div class="column-1">
                        <h1 class="header-title">{{item.nombreProducto}}</h1>
                        <h3>{{item.precioProducto}}</h3>
                        <p class="text">
                            {{item.descripcionProducto}}
                        </p>
                    </div>
                    <div class="column-2 image">
                        <img [src]="item.imagenProducto" class="img-element" alt="" />
                    </div>
                </div>
            </div>
        }    
    }
    @if(emprendedor.QueOfrezco == "servicios"){    
        <div class="link-container">
       <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
     </div>
     <!-- end Google Calendar Appointment Scheduling -->
     <div class="calendar-button-container"></div>
   } @else {         
     <div class="link-container">
       <a mat-button [href]="emprendedor.whatsapp" target="_blank" class="green-button">Mira mi whatsapp</a>
   </div>
   }
</div>
}
