.example-card {
  max-width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease; // Transiciones suaves
  border-radius: 10px; // Bordes ligeramente redondeados
  overflow: hidden; // Evita que el contenido se salga de los bordes

  &:hover {
    transform: scale(1.05); // Escala leve al pasar el mouse
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Sombra para dar efecto de elevación
  }
}

img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; // Transición en la imagen también
}

/* Contenedor de las tarjetas */
.tarjetas-contenedor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Ajuste para pantallas medianas */
@media (max-width: 1200px) {
  .tarjetas-contenedor {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 900px) {
  .tarjetas-contenedor {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Ajuste para pantallas móviles */
@media (max-width: 600px) {
  .tarjetas-contenedor {
    grid-template-columns: repeat(2, 1fr);
  }

  .example-card {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .tarjetas-contenedor {
    grid-template-columns: 1fr;
  }

  .example-card {
    margin-bottom: 1rem;
  }
}
