@if (emprendedor) {
  <section class="services section" id="services">
    <div class="container">
      <div class="section-header">
        <h3 class="title" data-title="Lo que hago">{{emprendedor.QueOfrezco}}</h3>
        <p class="text">Tenemos 3 grandes opciones para ti</p>
      </div>
      <div class="cards"> <!-- Asegúrate de que este div esté aquí -->
        @for (item of emprendedor.MisProductos; track item.id) {
          <div class="card">
            <div class="card-content z-index">
              <img [src]="item.imagenProducto" class="img" alt="" />
              <h3 class="title-sm">{{item.nombreProducto}}</h3>
              <p class="text">{{item.descripcionProducto}}</p>
              <p>{{item.precioProducto}}</p>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
  <div class="link-container">
    <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
  </div>
  <!-- end Google Calendar Appointment Scheduling -->
  <div class="calendar-button-container"></div>
}
