@if (emprendedor) {
    <div class="header-content" id="{{emprendedor.MiEmpresa.nombre}}">
      <div class="container grid-2">
        <!-- Columna para el contenido textual -->
        <div class="column-1">
          <!-- Titulo principal -->
          <div class="column-2 image">
            <img [src]="emprendedor.MiEmpresa.imagenEmpresa" class="img-element z-index" alt="" />
          </div>
          <h1 class="header-title">{{emprendedor.MiEmpresa.nombre}}</h1>
          @if (emprendedor.MiEmpresa.eslogan) {
            <h3 class="text">{{emprendedor.MiEmpresa.eslogan}}</h3>
          }
          <p class="text">
            {{emprendedor.MiEmpresa.descripcionEmpresa}}
          </p>
        </div>
        <!-- Columna para la imagen -->

      </div>
    </div>
  }
  