@if (plantillas) {
    <div id="empresa">
    @switch (plantillas.plantillaEmpresa) {
        @case (1) {
        <app-plantilla-empresa1></app-plantilla-empresa1>
        }
        @case (2) {
        <app-plantilla-empresa2></app-plantilla-empresa2>
        }
        @default {
        <app-plantilla-empresa1></app-plantilla-empresa1>
        }
    }
</div>
<div id="servicios">
    @switch (plantillas.plantillaServicios) {
        @case (1) {
        <app-plantilla-servicios1></app-plantilla-servicios1>
        }
        @case (2) {
        <app-plantilla-servicios2></app-plantilla-servicios2>
        }
        @default {
        <app-plantilla-servicios1></app-plantilla-servicios1>
        }
    }
</div>
<div id="Personal">
    @switch (plantillas.plantillaPersonal) {
        @case (1) {
            <app-plantilla1></app-plantilla1>
        }
        @case (2) {
            <app-plantilla-personal2></app-plantilla-personal2>
        }
        @default {
            <app-plantilla1></app-plantilla1>
        }
    }
</div>
}

