@if(!isHomePage()){
@if (emprendedor) {
  <mat-toolbar color="accent">
    <button mat-raised-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink='/home'>
      <mat-icon >home</mat-icon>
    </button>
    <span style="color:#00DDDB;">{{emprendedor.MiEmpresa.nombre}}</span> <!-- Texto junto al icono -->
    <span class="example-spacer"></span>
    <section style="margin-left: auto;"> <!-- Agregar este estilo para empujar el contenido a la derecha -->
      <div class="example-button-row">
        <button mat-raised-button (click)="navegarASecion('empresa')">Presentación Empresa</button>
        <button mat-raised-button (click)="navegarASecion('servicios')">{{capitalizeFirstLetter(emprendedor.QueOfrezco)}}</button>
        <button mat-raised-button (click)="navegarASecion('Personal')">Presentación Personal</button>
        <a mat-raised-button [href]="emprendedor.whatsapp" target="_blank">Mira mi whatsapp</a>
      </div>
    </section>
  </mat-toolbar>
}
}
@else {
  <mat-toolbar>
    <button mat-raised-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink='/home'>
      <mat-icon>home</mat-icon>
    </button>
    <app-search-bar></app-search-bar>
  </mat-toolbar>
}
